@media screen and (min-width: 1200px) {
    .container {
        max-width: 1320px;
    }
}

.section-heading {
    text-align: center;
    margin-bottom: 48px;
}

.section-heading .section-heading_title {
    font-size: 2.3em;
    font-weight: 400;
    color: rgba(var(--dark-color), 1);
    line-height: 1.25;
    margin-bottom: 24px;
}

.section-heading .section-heading_desc {
    margin-top: 8px;
    font-size: 1.3em;
    line-height: 1.5;
}

.section-hero .hero-search {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-right: 60px;
}

.section-hero .hero-search .search-info {
    margin-bottom: 45px;
}

.section-hero .hero-search .search-info .info-title {
    font-size: 2.3em;
    font-weight: 700;
    color: rgba(var(--dark-color), 1);
    line-height: 1.25;
}

.section-hero .hero-search .search-info .info-desc {
    margin-top: 8px;
    font-size: 1.3em;
    line-height: 1.5;
}

.section-hero .hero-search .search-form {
    position: relative;
    margin-top: auto;
}

.section-hero .hero-search .search-form .form-wrap {
    position: relative;
}

.section-hero .hero-search .search-form .form-wrap .wrap-input {
    position: relative;
    -webkit-box-shadow: var(--box-shadow-1) !important;
    -moz-box-shadow: var(--box-shadow-1) !important;
    box-shadow: var(--box-shadow-1) !important;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 10px 145px 10px 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    color: rgba(var(--dark-color), .8);
    font-size: 1.15em;
    border: 0 !important;
    background-color: var(--white);
    height: 74px;
    width: 100%;
}

.section-hero .hero-search .search-form .form-wrap .wrap-input::placeholder {
    color: rgba(var(--gray-color), .7);
}

.section-hero .hero-search .search-form .form-wrap .wrap-input:focus {
    border: 0 !important;
}

.section-hero .hero-search .search-form .form-wrap .wrap-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 115px;
    padding: 9px 0 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.15em;
    background-color: rgb(var(--primary-color));
    color: var(--white);
    cursor: pointer;
    border: 0;
}

.section-hero .hero-search .search-form .form-wrap .wrap-button > i {
    margin-right: 10px;
}

.section-hero .hero-search .search-form .form-wrap .wrap-button:active {
    background-color: rgba(var(--primary-color), .7);
}

.section-hero .hero-search .search-form .form-wrap .wrap-result {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    display: none;
    top: 100%;
    -webkit-box-shadow: 0 2px 3px rgb(0 0 0 / 9%);
    -moz-box-shadow: 0 2px 3px rgb(0 0 0 / 9%);
    box-shadow: 0 2px 3px rgb(0 0 0 / 9%);
    background-color: var(--white);
    color: rgb(var(--gray-color));
    -webkit-border-radius: 0 0 8px 8px;
    -moz-border-radius: 0 0 8px 8px;
    border-radius: 0 0 8px 8px;
    pointer-events: none;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.section-hero .hero-search .search-form .form-wrap .wrap-result .result-item {
    display: block;
    width: 100%;
    padding: 9px 16px 10px;
    font-size: 1em;
    cursor: pointer;
    color: rgba(var(--dark-color), .8);
}

.section-hero .hero-search .search-form .form-wrap .wrap-result .result-item:hover {
    background-color: #f2f2f2;
}

.section-hero .hero-search .search-form .form-wrap .wrap-result .result-item > b,
.section-hero .hero-search .search-form .form-wrap .wrap-result .result-item > strong {
    color: rgba(var(--dark-color), 1);
}

.section-hero .hero-search .search-form .form-wrap .wrap-result hr {
    margin: 0;
}

.section-hero .hero-search .search-form .form-wrap.is-result .wrap-input {
    -webkit-border-radius: 8px 8px 0;
    -moz-border-radius: 8px 8px 0;
    border-radius: 8px 8px 0 0;
}

.section-hero .hero-search .search-form .form-wrap.is-result .wrap-result {
    display: block;
    pointer-events: auto;
}

.category-card {
    background: hsla(0, 0%, 100%, .6);
    padding: 35px 35px 57%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
    transition: var(--transition);
}

.category-card .card-header .category-title .title-link {
    color: rgba(var(--dark-color), 1);
    font-weight: 700;
    font-size: 2.3em;
}

.category-card .card-header .category-title .title-link:hover {
    text-decoration: underline;
}

.category-card .card-header .category-desc {
    margin: 8px 0 4px;
    font-size: 1.15em;
    color: rgba(var(--dark-color), 1);
}

.category-card .card-header .category-link {
    font-size: 1.15em;
}

.category-card .card-header .category-link > .link-item {
    position: relative;
    color: rgba(var(--link-color), 1);
    line-height: 1.6;
}

.category-card .card-header .category-link > .link-item:after {
    content: "";
    height: 1px;
    width: 100%;
    top: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    transition: all .15s cubic-bezier(.39, .575, .565, 1);
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    background-color: rgba(var(--link-color), 1);
}

.category-card .card-header .category-link > .link-item:hover:after {
    opacity: 1;
    transition-delay: .2s;
    transition-duration: .15s;
    -webkit-transform: translateY(-3px) translateZ(0);
    transform: translateY(-3px) translateZ(0);
}

.category-card .card-body {
    bottom: -20px;
    left: 0;
    transition: bottom .2s;
}

.category-card .card-body .category-image {
    bottom: 0;
}

.category-card .card-body .category-image .image-wrap img {
    -webkit-border-radius: 8px 8px 0 0;
    -moz-border-radius: 8px 8px 0 0;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 20.83px 22.92px rgb(0 0 0 / 34%);
    border: 4px solid var(--white);
    background: #e6e6e6;
    transition: border-color .2s;
    max-width: 80%;
}

.category-card .card-body .category-image .image-icon {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    box-shadow: 0 0 0 4px var(--white);
    width: 64px;
    height: 64px;
    top: 0;
}

.category-card:hover {
    background: var(--white);
    -webkit-box-shadow: var(--box-shadow-2);
    -moz-box-shadow: var(--box-shadow-2);
    box-shadow: var(--box-shadow-2);
}

.category-card:hover .card-body {
    bottom: -5px;
}

.footer {
    background-color: #1a1a1a;
    padding: 32px 0;
    color: var(--white);
    font-size: 14px;
}

.footer .footer-top {
    padding: 32px 0;
}

.footer .footer-top .footer-block {
    margin-bottom: 16px;
}

.footer .footer-top .footer-block .footer-block_title {
    font-weight: 700;
    opacity: .5;
    margin-bottom: 16px;
    min-height: 24px;
}

.footer .footer-top .footer-block .footer-block_list > ul > li > a {
    display: block;
    color: var(--white);
    font-weight: 700;
    margin-bottom: 16px;
}

.footer .footer-top .footer-block .footer-block_list > ul > li > a:hover {
    text-decoration: underline !important;
}

.footer .footer-top .footer-block .footer-block_list > ul > li:last-child > a {
    margin-bottom: 0;
}

.footer .footer-top .footer-block .footer-block_logo > a > img {
    height: 20px;
    margin-bottom: 20px;
}

.footer .footer-top .footer-block .footer-block_grid {
    display: flex;
    justify-content: space-between;
}

.footer .footer-top .footer-block .footer-block_grid .footer-block_grid__item {
    width: 50%;
    font-size: 13px;
    color: gray;
    display: flex;
    flex-direction: column;
}

.footer .footer-top .footer-block .footer-block_grid .footer-block_grid__item b {
    font-weight: 700;
    color: var(--white);
    font-size: 16px;
}

.footer .footer-top .footer-block .footer-block_certified {
    text-align: right;
}

.footer .footer-top .footer-block .footer-block_certified > a > img {
    width: 50px;
    height: auto;
    max-width: 100%;
}

.footer .footer-bottom {
    padding: 32px 0;
    border-top: 2px solid rgb(var(--dark-color));
}

.footer .footer-bottom .footer-block .footer-block_nav {
    margin-bottom: 10px;
}

.footer .footer-bottom .footer-block .footer-block_nav > ul {
    display: flex;
    align-items: center;
}

.footer .footer-bottom .footer-block .footer-block_nav > ul > li > a {
    display: block;
    color: var(--white);
    font-weight: 700;
}

.footer .footer-bottom .footer-block .footer-block_nav > ul > li > a:hover {
    text-decoration: underline !important;
}

.footer .footer-bottom .footer-block .footer-block_nav > ul > li + li {
    margin-left: 24px;
}

.footer .footer-bottom .footer-block .footer-block_desc {
    font-size: 13px;
    color: gray;
    margin-top: 10px;
}

.footer .footer-bottom .footer-block.footer-height_full {
    height: 100%;
}

.footer .footer-bottom .footer-block .footer-block_column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.footer .footer-bottom .footer-block .footer-block_dropdown {
    margin-top: auto;
}

.footer .footer-bottom .footer-block .footer-block_dropdown .btn-dropdown {
    font-size: 1em;
    font-weight: 500;
    border: 1px solid var(--color-border);
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 0 0.75rem 1px;
    height: 34px;
    background: #fff;
}

.footer .footer-bottom .footer-block .footer-block_dropdown .dropdown-wrap .dropdown-menu {
    padding: 8px;
    z-index: 995;
    background-color: #fff;
    border: 1px solid #d8d8d8;
    -webkit-box-shadow: 0 16px 24px rgb(51 51 51 / 8%);
    box-shadow: 0 16px 24px rgb(51 51 51 / 8%);
    border-radius: 4px;
    margin-top: 8px;
    min-width: 9rem;
    font-size: 14px;
}

.footer .footer-bottom .footer-block .footer-block_dropdown .dropdown-wrap .dropdown-menu > a {
    padding: 6px 10px;
    font-weight: 400;
    line-height: 18px;
    background-color: #fff;
    border-radius: 4px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: .9em;
    color: var(--color-dark);
}

.footer .footer-bottom .footer-block .footer-block_dropdown .dropdown-wrap .dropdown-menu > a.active, .footer .footer-bottom .footer-block .footer-block_dropdown .dropdown-wrap .dropdown-menu > a:hover {
    background-color: #f4fafd;
}

.footer .footer-bottom .footer-block .footer-block_social {
    margin-bottom: 10px;
}

.footer .footer-bottom .footer-block .footer-block_social > ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.footer .footer-bottom .footer-block .footer-block_social > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 22px;
    width: 22px;
    background-color: gray;
    color: rgba(var(--dark-color), 1);
    border-radius: 50%;
    font-size: .9em;
    padding-top: 1px;
}

.footer .footer-bottom .footer-block .footer-block_social > ul > li > a:hover {
    background-color: var(--white);
}

.footer .footer-bottom .footer-block .footer-block_social > ul > li + li > a {
    margin-left: 8px;
}

.section-tab .nav-tabs {
    border-bottom: 0;
    margin: 0 -8px 30px;
}

.section-tab .nav-tabs .nav-item {
    width: calc(100% / 7);
    margin-top: 16px;
    padding: 0 8px;
}

.section-tab .nav-tabs .nav-item .nav-link {
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--white);
    color: rgb(var(--dark-color));
    padding: 10px 4px;
    border: 2px solid #fff;
}

.section-tab .nav-tabs .nav-item .nav-link:hover,
.section-tab .nav-tabs .nav-item .nav-link.active {
    border-color: rgb(var(--primary-color));
}

.product-item {
    transition: var(--transition);
    border: 0;
    box-shadow: 0 0 4px #e6e6e6;
    border-radius: 4px;
    overflow: hidden;
}

.product-item .card-header {
    --ratio-image: 50%;
    padding: 0;
    position: relative;
    overflow: hidden;
    border: 0;
    background-color: var(--white)
}

.product-item .card-header .card-header_image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(270deg, #ccc, #e6e6e6);
}

.product-item .card-header .card-header_image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(270deg, #ccc, #e6e6e6);
}

.product-item .card-header .card-header_image .card-header_image__inner {
    padding-top: var(--ratio-image);
    position: relative;
    overflow: hidden;
}

.product-item .card-header .card-header_image .card-header_image__inner img {
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.product-item .card-header .card-header_gradient {
    width: 100%;
    height: 0;
    position: relative;
    transition: opacity .4s ease;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, .4) 0, transparent 80px);
    opacity: 0;
    padding-top: var(--ratio-image);
}

.product-item .card-body {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 14px;
}

.product-item .card-body .card-link_cover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.product-item .card-body .card-title {
    margin-bottom: 0;
}

.product-item .card-body .card-title > a {
    color: rgb(var(--dark-color));
    cursor: pointer;
    position: relative;
    display: inline-block;
    text-decoration: none;
    vertical-align: bottom;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 700;
    font-size: 1.025em;
}

.product-item .card-body .card-title > a:before {
    content: "";
    height: 1px;
    width: 100%;
    top: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    transition: all .15s cubic-bezier(.39, .575, .565, 1);
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    background-color: rgba(var(--dark-color), 1);
}

.product-item .card-body .card-title > a:hover:before {
    opacity: 1;
    transition-delay: .2s;
    transition-duration: .15s;
    -webkit-transform: translateY(-3px) translateZ(0);
    transform: translateY(-3px) translateZ(0);
}

.product-item .card-body .card-meta {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #999;
    font-size: 12px;
}

.product-item .card-body .card-meta a {
    position: relative;
    display: inline-block;
    color: #999;
    font-weight: 500;
    cursor: pointer;
    line-height: 1.5;
}

.product-item .card-body .card-meta a:before {
    content: "";
    height: 1px;
    width: 100%;
    top: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
    transition: all .15s cubic-bezier(.39, .575, .565, 1);
    transition-property: opacity, -webkit-transform;
    transition-property: opacity, transform;
    transition-property: opacity, transform, -webkit-transform;
    background-color: #999;
}

.product-item .card-body .card-meta a:hover:before {
    opacity: 1;
    transition-delay: .2s;
    transition-duration: .15s;
    -webkit-transform: translateY(-3px) translateZ(0);
    transform: translateY(-3px) translateZ(0);
}